[submodule "firecracker-containerd"]
	path = firecracker-containerd
	url = https://github.com/ease-lab/firecracker-containerd.git
[submodule "firecracker"]
	path = firecracker
	url = https://github.com/bencw12/firecracker
	branch = tracefault
[submodule "linux"]
	path = linux
	url = https://github.com/bencw12/linux
	branch = tracefault-4.14.174
	shallow = true
